// Placeholders ---------------------------------------------------------------

%buttons {
  -webkit-appearance: none;
  display: block;
  border: $button-border-width $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  background: $button-background;
  color: $button-color;
  font-weight: $button-font-weight;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

%buttons-hover {
  border: $button-border-width $button-border-style
    darken($button-border-color, 10%);
  background: $button-background-hover;
  color: $button-color;
  text-decoration: none;
}

%buttons-focus {
  border: $button-border-width $button-border-style
    darken($button-border-color, 10%);
  background: darken($button-background, 10%);
  color: $button-color;
  text-decoration: none;
}
%buttons-disabled {
  opacity: 0.35;
  cursor: default;
}

// Styles ---------------------------------------------------------------------

button,
[type="submit"],
[type="reset"],
[type="button"],
%button {
  @extend %buttons;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover:not([disabled]) {
    @extend %buttons-hover;
  }

  &:focus:not([disabled]),
  &:active:not([disabled]) {
    @extend %buttons-focus;
  }
  &[disabled] {
    @extend %buttons-disabled;
  }
}

%button-outline {
  color: $button-outline-color;
  background: $button-outline-background;

  &:hover:not([disabled]),
  &:focus:not([disabled]),
  &:active:not([disabled]) {
    color: $button-outline-color-hover;
    border: $button-outline-border-width $button-outline-border-style solid
      darken($button-outline-border-color, 10%);
    background: $button-outline-background-hover;
  }
}
