// Placeholders ---------------------------------------------------------------

%container {
  max-width: $x-large;
  padding: 0 $padding;
  margin-left: auto;
  margin-right: auto;
}

%column-padding {
  padding-left: $column-padding;
  padding-right: $column-padding;
}

%row-margin {
  margin-left: -$column-padding;
  margin-right: -$column-padding;
}

// Styles ---------------------------------------------------------------------

%container-medium {
  @extend %container;
  max-width: $medium;
}

%container-large {
  @extend %container;
  max-width: $large;
}

%container-full {
  @extend %container;
  max-width: 100%;
}
section {
  padding: $section-padding-y 0;
}
